@media screen and (min-width: 490px) {
    .navbar-mega-menu {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        transition: all 0.3s;
    }

    .mega-menu-parent:hover .navbar-mega-menu {
        opacity: 1;
        max-height: 100vh;
        visibility: visible;
    }

    .sm-bottom-border {
        position: relative;
        margin-bottom: 10px;
    }

    .sm-bottom-border::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 15px;
        background-color: #222;
    }

    .pink {
        background: #fd3179 none repeat scroll 0 0;
    }

    .ht-p-tag {
        display: block;
        height: 22px;
        line-height: 20px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: -18px;
        width: 50px;
        color: #fff;
    }

    span.ht-p-tag.pink::after {
        border-right: 6px solid #fd3179;
    }

    span.ht-p-tag::after {
        border-bottom: 7px solid rgba(0, 0, 0, 0);
        border-right: 6px solid rgba(0, 0, 0, 0);
        border-top: 0 none;
        bottom: -7px;
        content: "";
        height: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 0;
    }

}

@media screen and (max-width: 480px) {
    .navbar-mega-menu {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }

    .mega-menu-parent:hover .navbar-mega-menu {
        opacity: 1;
        visibility: visible;
    }

    .sm-bottom-border::after {
        display: none;
    }

    .ht-p-tag {
        display: none;
    }
}